body{
  margin: 0;
  padding: 0;
}
#dropdownMenuButton{
  font-weight: 500;
  
 }
a.dropdown-item:hover, a.dropdown-item:active {
  color: rgb(125, 150, 181);
  transition: 0.3s;
}

button:hover {
  color:#002ead;
  
}

.profile{
  margin-left: 4rem;
 display: flex;
 align-items: center;
 
}
.profile li{
  
  background-image: url("hari2.jpg.png");
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 1rem;
  font-weight: 500;

  list-style-type: none;
}
.profile li a{
  text-align: center;
text-decoration: none;
  }
.profile a{
  margin-right: 2rem;
  color: black;
  font-weight: 500;
  text-decoration: none;
}
.dropdown-menu{
  border-style: solid 5px;
  border-bottom-color: coral;
}
.dropdown-menu {
  
  border-bottom: 5px solid black;
}


/* .dashbord ul{
 
  list-style-type: none;
  display: flex;
align-items: center;
}
.dashbord ul a{
  margin-top: 5px;
  display: flex;
justify-content: space-evenly;
align-items: center;
  font-weight: 500;
  color: rgb(56, 145, 235);
  
 margin-right: 30px;
 
}
.dashbord ul a:hover {
  color: rgb(236, 58, 114);
}

.profile{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: orange;
 border-radius: 50%;
 height: 40px;
 width:40px ;
  list-style-type: none;
  margin-left: 6rem;
}

 a {
text-decoration: none !important;
} */