
*{
    box-sizing: border-box;
   margin: 0;
   padding: 0;
}
#information{
   margin: 0px;
    height: 30px;
    width:30px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.container-fluid{
    display: flex;
    align-items: center;
    
}
#select{
    height: 2rem;
    width:16rem;
}

#cars{
    height: 25px;
}
.form-inline{
    display: flex;
  margin-left: 70%;
   float: right;
} 
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.url p{
    font-weight: 700;
    font-style: bold;
} 
.footer{
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.entites{
position: absolute;
left: 0;
bottom: 0;
}
.pagination{
    position: absolute;
    right: 0;
    bottom: 0;
}
