.column {
    float: left;
  }
  
  .left {
    width: 30%;
  }
  
  .right {
    width: 70%;
  }
  body{
    background-image: linear-gradient(rgb(220, 72, 193), rgb(223, 223, 217));
   margin: 0;
   padding: 0; 
    box-sizing: border-box;
  }
 .container{
  border-radius: 20px;
 }
 .nav-item button{
  background-color: #f8f9fa;
  color:black;
  border:none;
 }
 .nav-link{
  color:black;
 }